<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<groups>
<run>
<include name="sanity"/>
<exclude name="regression"/>
<include name="baseclass"/>
</run>
</groups>

  <test thread-count="2" name="Test">
    <classes>
      <class name="com.vtiger.campaign.CreateCampaignNmaeWithProduct"/>
      <class name="com.vtiger.product.test.CreateProductTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
